<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940876332768-lcv1g9g9s5b52s02ris8flh3u5vo2cb7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940876332768-lcv1g9g9s5b52s02ris8flh3u5vo2cb7</string>
	<key>API_KEY</key>
	<string>AIzaSyCU2ma6PSFJVOiz5NsbdmxOvCbS_kivxLI</string>
	<key>GCM_SENDER_ID</key>
	<string>940876332768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goktugibolar.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-71005</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-71005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940876332768:ios:b0f1b4e789fe16dd97da85</string>
</dict>
</plist>